@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: __Fira_Code_dbf0a9, __Fira_Code_Fallback_dbf0a9;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  --section_bg: #F3F3FF;
  --sidebar_bg: #FFFFFF;
  --header_bg: #FAFAFF;
  --cards_bg: #FFFFFF;
  --warning_card_bg: linear-gradient(to right, #615EFF, #988FFF);
  --font_color: #000000;
  --alt_title: #5B5B68;
  --details_color_one: #838393;
  --details_color_two: #615EFF;
  --buttons_bg: #615EFF;
  --items_bg: #F3F3FF;
  --shadow_color: #f3f3ff60;
}

[data-theme=dark] {
  --section_bg: #343344;
  --sidebar_bg: #38374B;
  --header_bg: #38374B;
  --cards_bg: #38374B;
  --warning_card_bg: #38374B;
  --font_color: #FFFFFF;
  --alt_title: #FFFFFF;
  --details_color_one: #B8B8C9;
  --details_color_two: #D0CCFF;
  --buttons_bg: #D0CCFF;
  --items_bg: #3C3B56;
  --shadow_color: #38374B;
}

.home {
  display: flex;
  height: auto;
  width: 100%;
  min-height: 100dvh;
  background-color: var(--section_bg);
  position: relative;
}

.home__modals-wrapper {
  position: absolute;
  z-index: 2;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__modals-wrapper--disabled {
  display: none;
}

.home__sections-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

.sections-area__section-wrapper {
  width: 100%;
  height: calc(100% - 8rem);
  padding: clamp(1.5rem, 1rem + 2vw, 3.5rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sections-area__header {
  width: 100%;
  height: 8rem;
  background-color: var(--header_bg);
  padding: 2.4rem 3.5rem;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
}
.sections-area__header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--font_color);
}

.expandable-menu-area__hamburger-menu {
  width: 3rem;
  cursor: pointer;
  display: none;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.hamburger-menu__line {
  width: 100%;
  height: 0.3rem;
  background-color: black;
  border-radius: 0.5rem;
  transition-duration: 550ms, 100ms;
  transition-property: transform, opacity;
}

@media (max-width: 1150px) {
  body {
    height: auto;
    max-height: max-content;
  }
}
@media (max-width: 550px) {
  .expandable-menu-area__hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .expandable-menu-area__hamburger-menu--active {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .expandable-menu-area__hamburger-menu--active .hamburger-menu__line {
    position: absolute;
  }
  .expandable-menu-area__hamburger-menu--active .hamburger-menu__line1 {
    transform: rotate(225deg);
  }
  .expandable-menu-area__hamburger-menu--active .hamburger-menu__line2 {
    opacity: 0;
  }
  .expandable-menu-area__hamburger-menu--active .hamburger-menu__line3 {
    transform: rotate(-225deg);
  }
}

/*# sourceMappingURL=main.css.map */
