@use './utils/variables' as *;

* {
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
   font-family: $firaCode;
}

html, body {
   height: 100%;
}

html {
   font-size: 62.5%;
}

.home {
   display: flex;
   height: 100%;
}

.sidebar__logo {
   width: 12rem;
   height: auto;
}
