@use './utils' as *;

* {
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
   font-family: $firaCode;
}

html, body {
   height: 100%;
   max-height: 100%;
}

html {
   font-size: 62.5%;
}

.home {
   display: flex;
   height: 100%;
   width: 100%;
   overflow-y: hidden;
   background-color: $purplishBlue100;

   position: relative;
}

.home__modals-wrapper {
   position: absolute;
   width: 100dvw;
   height: 100dvh;

   background-color: rgba(0, 0, 0, 0.425);

   @include flex(center, center);
}

.home__modals-wrapper--disabled {
   display: none;
}

.home__sections-area {
   width: 100%;
   height: 100%;

   @include flex(flex-start, center);
   flex-flow: column nowrap;
}

.sections-area__section-wrapper {
   width: 100%;
   height: calc(100% - 8rem);
   padding: clamp(1.5rem, 1rem + 2vw, 3.5rem);

   @include flex(flex-start, flex-start);
}

.sections-area__header {
   width: 100%;
   height: 8rem;
   background-color: $veryLightGrayishBlue;
   padding: 2.4rem 3.5rem;
   flex-shrink: 0;

   position: sticky;
   top: 0;

   @include flex(center, flex-start);
   flex-flow: column nowrap;

   h1 {
      font-size: 2.5rem;
      font-weight: 700;
   }
}

.expandable-menu-area__hamburger-menu {
   width: 3rem;
   cursor: pointer;

   display: none;
   flex-flow: column nowrap;
   gap: .5rem;
}

.hamburger-menu__line {
   width: 100%;
   height: .3rem;
   background-color: black;
   border-radius: .5rem;

   transition-duration: 550ms, 100ms;
   transition-property: transform, opacity;
}

.home__mobile-menu {
   display: none;
}

.mobile-menu__user-image {
   width: clamp(2.2rem, 2rem + 1vw, 3rem);
}

@include LargeScreensDown {
   body {
      height: auto;
      max-height: max-content;
   }
}

@include SmallScreensDown {
   .expandable-menu-area__hamburger-menu {
      @include flex(center, center);
   }

   .expandable-menu-area__hamburger-menu--active {
      position: relative;
      @include flex(center, center);
   
      .hamburger-menu__line {
         position: absolute;
      }
   
      .hamburger-menu__line1 {
         transform: rotate(225deg);
      }
   
      .hamburger-menu__line2 {
         opacity: 0;
      }
   
      .hamburger-menu__line3 {
         transform: rotate(-225deg);
      }
   }

   .home__mobile-menu {
      position: fixed;
      bottom: 0;
      height: min-content;
      width: 100%;
      background-color: white;
      padding: 1.2rem 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
      @include flex(space-around, center);
   }
} 