@use "../../../utils/" as *;

.habitos__stats-card {
   background-color: transparent;
   margin: 1rem 0 1rem 0;
   border-radius: .6rem;

   @include flex(center, center);
   gap: clamp(.5rem, .2rem + .6vw , 1rem);

   span {
      font-size: clamp(1.3rem, .7rem + .7vw , 1.6rem);
      font-weight: 600;
      color: var(--alt_title_two);
   }

   img {
      height: clamp(2.2rem, 1.1rem + 1.1vw , 2.6rem);
      width: auto;
   }
}

.habitos__stats-card + .habitos__stats-card {
   margin-left: 1rem;
}