@use "../../../utils/" as *;

.habitos__stats-card {
   background-color: transparent;
   padding: .8rem;
   border-radius: .6rem;

   @include flex(center, center);
   gap: 1rem;

   span {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--alt_title_two);
   }

   img {
      height: 2.6rem;
      width: auto;
   }
}