@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

$firaCode: "Fira Code", monospace;
$karla: "Karla", sans-serif;

$purplishBlue900: #615EFF;
$purplishBlue800: #7266FF;
$purplishBlue700: #7E73FF;
$purplishBlue600: #857AFF;
$purplishBlue500: #988FFF;
$purplishBlue400: #AAA3FF;
$purplishBlue300: #BDB8FF;
$purplishBlue200: #D0CCFF;
$purplishBlue100: #F3F3FF;

$veryLightGrayishBlue: #FAFAFF;
$gray: #838393;
$lightGray: #C3C3C3;

$red: #EF002A;

$softRed: #FF5558;
$softYellow: #FFC553;
$softGreen: #90EE90;