@use "../../../utils/" as *;

.manage-task-list-modal__action-area {
   width: 100%;
   margin-top: 2.5rem;

   @include flex(flex-end, center);
   gap: 2rem;
}

.manage-task-list-modal__apply-btn {
   background-color: var(--buttons_bg);
   color: var(--cards_bg);
   padding: .8rem 1.6rem;
   cursor: pointer;
   font-weight: 500;
   border-radius: .3rem;
   border: 2px solid transparent;

   transition-duration: 250ms;
   transition-property: color, border, background-color;
}

.manage-task-list-modal__apply-btn:hover {
   border: 2px solid var(--buttons_bg);
   background-color: transparent;
   color: var(--buttons_bg);
}

.manage-task-list-modal__back-btn {
   background-color: transparent;
   color: $gray;
   padding: .8rem 1.6rem;
   cursor: pointer;
   font-size: 1.4rem;
   font-weight: 500;
   border-radius: .3rem;
}

.manage-task-list-modal__back-btn,
.manage-task-list-modal__apply-btn {
   font-size: clamp(1rem, .7rem + .7vw, 1.4rem);
}