@use "../../../utils/" as *;

.list-task-item {
   width: 100%;
   background-color: $purplishBlue100;
   border-radius: .6rem;
   border-right: .6rem solid $purplishBlue900;
   padding: 1.2rem;
   left: auto !important;

   @include flex(center, center);
   gap: 2rem;
}

.list-task-item__content-area {
   flex-grow: 1;
   @include flex(center, center);
   gap: .6rem;
}

.list-task-item__drag-button {
   background-color: transparent;
   cursor: pointer;

   .drag-button__icon {
      height: 1.6rem;
      margin-bottom: -.3rem;
   }
}

.list-task-item__text {
   flex-grow: 1;
   font-size: clamp(1rem, .6125rem + .6125vw , 1.25rem);
   font-weight: 500;
}

.list-task-item__actions-area {
   @include flex(center, center);
   gap: 1rem;
}

.list-task-item__level-color {
   width: clamp(1.1rem, .7rem + .7vw , 1.4rem);
   height: clamp(1.1rem, .7rem + .7vw , 1.4rem);
   border-radius: 50%;
}

.level-wrapper-mini-menu {
   background-color: white;
   padding: 1rem;
   border-radius: .6rem 0 .6rem .6rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

   button {
      width: 100%;
      font-weight: 600;
      font-size: 1.25rem;
      @include flex(space-between, center);
      gap: 1rem;
   }

   .level-wrapper-mini-menu__check-icon {
      width: 1.4rem;
   }

   .level-wrapper-mini-menu__check-icon--disabled {
      opacity: 0;
   }

   .level-wrapper-mini-menu__btn--green {
      color: $softGreen;
   }

   .level-wrapper-mini-menu__btn--yellow {
      color: $softYellow;
   }

   .level-wrapper-mini-menu__btn--red {
      color: $softRed;
   }
}

.list-task-item__level-color--trivial {
   background-color: $softGreen !important;
}

.list-task-item__level-color--importante {
   background-color: $softYellow !important;
}

.list-task-item__level-color--essencial {
   background-color: $softRed !important;
}

.list-task-icon__actions-area__icon {
   height: clamp(1.4rem, .85rem + .85vw, 1.7rem);
   width: clamp(1.4rem, .85rem + .85vw, 1.7rem);
   margin-bottom: -.25rem;
}

.list-task-item__edit-input {
   width: 0;
   flex-grow: 1;
   outline: none;
   background-color: transparent;
}

@include TabletsDown {

}