@use "../../../utils/" as *;

.configurations__task-list-wrapper {
   margin-top: 2.5rem;
   max-height: 100%;

   display: flex;
   flex-direction: column;
   overflow: hidden;
   flex: 1;

   h2 {
      color: $gray;
      font-weight: 400;
      font-size: clamp(1.3rem, .75rem + .75vw, 1.5rem);
      margin-bottom: 2rem;
   }
}

.task-list-wrapper__task-list {
   width: 100%;
   position: relative;

   @include flex(flex-start, flex-start);
   flex-flow: column nowrap;
   gap: 1.5rem;
}

.manage-task-list-modal__draggable-list-wrapper {
   position: relative;

   display: flex;
   flex-direction: column;
   flex: 1;
   overflow: auto;
}

.manage-task-list-modal__draggable-list-wrapper::-webkit-scrollbar {
   width: 16px;
}

.manage-task-list-modal__draggable-list-wrapper::-webkit-scrollbar-thumb {
   background-color: #e2e2e2;
   border-radius: 50px;
   border: 6px solid white;
}