@use "../../../utils/" as *;

.create-task-modal__change-level-area {
   width: 100%;

   @include flex(flex-start, center);
   gap: clamp(2rem, 1.25rem + 1.25vw, 2.5rem);

   span {
      font-size: clamp(1rem, 0.6rem + 0.6vw, 1.2rem);
      color: #838393;
   }

   .create-task-modal__levels-wrapper {
      @include flex(center, center);
      gap: clamp(1rem, 0.75rem + 0.75vw, 1.5rem);

      button {
         border: 2px solid #BDB8FF;
         color: #BDB8FF;
         background-color: transparent;
         padding: 0.5rem 1rem;
         border-radius: 0.3rem;
         cursor: pointer;
         font-size: clamp(1rem, 0.65rem + 0.65vw, 1.3rem);
         font-weight: 400;
         transition-property: border-color, color, background-color;
         transition-duration: 250ms;
      }

      .level-button--essencial:hover {
         border-color: $softRed;
         color: $softRed;
      }
      
      .level-button--essencial-active {
         color: white;
         border-color: $softRed;
         background-color: $softRed;
      }
      
      .level-button--importante:hover {
         border-color: $softYellow;
         color: $softYellow;
      }
      
      .level-button--importante-active {
         color: white;
         border-color: $softYellow;
         background-color: $softYellow;
      }
      
      .level-button--trivial:hover {
         border-color: $softGreen;
         color: $softGreen;
      }
      
      .level-button--trivial-active {
         color: white;
         border-color: $softGreen;
         background-color: $softGreen;
      }
   }
}