@use '../utils/' as *;

.dashboard {
   width: 100%;
   height: 100%;

   @include flex(center, center);
   gap: 3.5rem;
}

.dashboard__tasks-area {
   width: 55%;
   height: 100%;

   display: flex;
   flex-flow: column nowrap;
   gap: 3.5rem;
}

.tasks-area__warnings-area {
   background: linear-gradient(to right, $purplishBlue900, $purplishBlue500);
   border-radius: .6rem;
   padding: 0 5rem;

   @include flex(space-between, center);
}

.warnings-area__content {
   @include flex(flex-start, flex-start);
   flex-flow: column nowrap;
   gap: .7rem;

   h4 {
      color: white;
      font-size: 2rem;
   }

   h3 {
      color: white;
      font-size: 3.6rem;
   }

   span {
      background-image: $yellowGradient;
      background-clip: text;
      color: transparent;
   }
}

.warnings-area__illustration {
   height: 14rem;
}

.tasks-area__task-list-card {
   background-color: white;
   flex-grow: 1;
   border-radius: .6rem;
   padding: 3.5rem;

   display: flex;
   flex-flow: column nowrap;
   gap: 3.5rem;
}

.task-list-card__header {
   @include flex(space-between, center);

   h3 {
      color: $purplishBlue900;
      font-size: 2.4rem;
   }

   button {
      background-color: $purplishBlue900;
      color: white;
      padding: 1rem 1.6rem;
      border-radius: .6rem;
      cursor: pointer;
      font-weight: 500;

      @include flex(center, center);
      gap: 1rem;
   }
}

.task-list-card__task-list {
   display: flex;
   flex-flow: column nowrap;
   flex-grow: 1;
   gap: 1.8rem;
}

.task-list__add-task-alt-btn {
   background-color: #f7f7ff;
   width: 100%;
   padding: 1.2rem;
   border-radius: .6rem;
   cursor: pointer;
   @include flex(center, center);

   .add-task-alt-btn__plus-icon {
      height: 2.2rem;
   }
}

.task-list-card__header {

   h3 {
      color: $purplishBlue900;
      font-size: 2.4rem;
   }

   a {
      color: $gray;
      font-weight: 600;
      font-size: 1.2rem;
   }
}

.dashboard__plans-card {
   width: 45%;
   height: 100%;
   background-color: white;
   border-radius: .6rem;
   padding: 3.5rem;

   @include flex(flex-start, flex-start);
   flex-flow: column nowrap;
   gap: 3.5rem;

   .task-list-card__header {
      width: 100%;
   }

   .task-list-card__plans-wrapper {
      width: 100%;
   }
}

@include LargeScreensDown {
   .dashboard {
      flex-direction: column;
   }

   .dashboard__tasks-area {
      width: 100%;
   }

   .dashboard__plans-card {
      width: 100%;
   }
}