@use '../utils' as *;

.modal-button {
   background-color: $purplishBlue900;
   color: white;
   padding: .8rem 1.6rem;
   cursor: pointer;
   font-size: 1.4rem;
   font-weight: 500;
   border-radius: .3rem;
   border: 2px solid transparent;

   transition-duration: 250ms;
   transition-property: color, border, background-color;
}

.modal-button:hover {
   border: 2px solid $purplishBlue900;
   background-color: transparent;
   color: $purplishBlue900;
}

.modal-back-button {
   background-color: transparent;
   color: $gray;
   padding: .8rem 1.6rem;
   cursor: pointer;
   font-size: 1.4rem;
   font-weight: 500;
   border-radius: .3rem;
}