@use '../utils/' as *;

.plan-item {
   background-color: $purplishBlue100;
   padding: 1.4rem;
   border-radius: .6rem;
   border-right: .6rem solid $purplishBlue900;
   cursor: pointer;

   @include flex(center, center);
   flex-flow: column nowrap;
}

.plan-item__information-area {
   width: 100%;

   @include flex(space-between, center);
}

.plan-item__content-area {
   @include flex(center, flex-start);
   flex-flow: column nowrap;
   gap: 1rem;

   .content-area__title {
      font-weight: 600;
      font-size: 1.6rem;
      color: $darkGray;
   }
}

.content-area__warnings-area {
   @include flex(flex-start, center);
   gap: 1.4rem;

   .warnings-area__goals-amount {
      background-color: $purplishBlue900;
      color: white;
      width: min-content;
      font-weight: 600;
      font-size: 1.2rem;
      padding: .4rem .8rem;
      border-radius: .6rem;
   }

   .warnings-area__date-area {
      @include flex(flex-start, center);
      gap: 1rem;

      .date-area__date-color {
         width: .8rem;
         height: .8rem;
         border-radius: 50%;
         background-color: red;
      }

      p {
         font-weight: 600;
         color: $gray;
      }
   }
}

.information-area__arrow-down-icon {
   transition-duration: 300ms;
   transition-property: transform;
}

.information-area__arrow-down-icon--actived {
   transform: rotate(180deg);
}

.plan-item__goals-area {
   width: 100%;
   max-height: 30rem;

   display: flex;
   flex-flow: column nowrap;
   gap: 1.2rem;

   overflow: hidden;
   transition-duration: 1000ms;
   transition-property: max-height;
}

.plan-item__goals-area--inactived {
   max-height: 0;
   transition-duration: 1000ms;
}