@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
.dashboard {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: clamp(1.5rem, 1rem + 2vw, 3.5rem);
}

.dashboard__tasks-area {
  width: 55%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: clamp(1.5rem, 1rem + 2vw, 3.5rem);
}

.tasks-area__warnings-area {
  background: linear-gradient(to right, #615EFF, #988FFF);
  border-radius: 0.6rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warnings-area__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 0.7rem;
}
.warnings-area__content h4 {
  color: white;
  font-size: 2rem;
}
.warnings-area__content h3 {
  color: white;
  font-size: 3.6rem;
}
.warnings-area__content span {
  background-image: linear-gradient(to right, #FFF600, #FFCF07);
  background-clip: text;
  color: transparent;
}

.warnings-area__illustration {
  height: 14rem;
}

.tasks-area__task-list-card {
  background-color: white;
  border-radius: 0.6rem;
  padding: clamp(2rem, 1.5rem + 1.5vw, 3.5rem);
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: clamp(2rem, 2rem + 1vw, 3.5rem);
}

.task-list-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list-card__header h3 {
  color: #615EFF;
  font-size: clamp(1.8rem, 1.4rem + 0.8vw, 2.4rem);
}
.task-list-card__header button {
  background-color: #615EFF;
  color: white;
  padding: 1rem 1.6rem;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__clipboard-icon {
  width: clamp(1.6rem, 1.2rem + 0.6vw, 2rem);
  height: clamp(1.6rem, 1.2rem + 0.6vw, 2rem);
}

.task-list-card__task-list {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  gap: 1.8rem;
  overflow-y: scroll;
}

.task-list-card__task-list::-webkit-scrollbar {
  width: 16px;
}

.task-list-card__task-list::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 50px;
  border: 6px solid white;
}

.task-list__add-task-alt-btn {
  background-color: #f7f7ff;
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-list__add-task-alt-btn .add-task-alt-btn__plus-icon {
  height: clamp(1.8rem, 1.1rem + 1.1vw, 2.2rem);
}

.dashboard__plans-card {
  width: 45%;
  height: 100%;
  background-color: white;
  border-radius: 0.6rem;
  padding: clamp(2rem, 1.5rem + 1.5vw, 3.5rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 3.5rem;
}

.plans-card__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plans-card__header h3 {
  color: #615EFF;
  font-size: clamp(1.8rem, 1.4rem + 0.8vw, 2.4rem);
}
.plans-card__header a {
  color: #838393;
  font-weight: 600;
  font-size: clamp(1rem, 0.6rem + 0.6vw, 1.2rem);
}

.plans-card__plans-wrapper {
  width: 100%;
  overflow-y: scroll;
}

.plans-card__plans-wrapper::-webkit-scrollbar {
  width: 20px;
}

.plans-card__plans-wrapper::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 50px;
  border: 7.5px solid white;
}

.plans-wrapper__pinned-area,
.plans-wrapper__deadline-area {
  width: 100%;
}

.pinned-area__header,
.deadline-area__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.pinned-area__header p,
.deadline-area__header p {
  font-size: clamp(1.1rem, 0.7rem + 0.7vw, 1.4rem);
  font-weight: 600;
  color: #838393;
}
.pinned-area__header .pinned-area__header__icon,
.pinned-area__header .deadline-area__header__icon,
.deadline-area__header .pinned-area__header__icon,
.deadline-area__header .deadline-area__header__icon {
  height: clamp(1.1rem, 0.7rem + 0.7vw, 1.4rem);
  width: clamp(1.1rem, 0.7rem + 0.7vw, 1.4rem);
}

.deadline-area__header {
  margin-top: 2rem;
}

.pinned-area__plans-wrapper,
.deadline-area__plans-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1150px) {
  .dashboard {
    flex-direction: column;
  }
  .dashboard__tasks-area {
    width: 100%;
  }
  .dashboard__plans-card {
    width: 100%;
  }
}
@media (max-width: 769px) {
  .tasks-area__warnings-area {
    padding: 0 5vw;
  }
  .warnings-area__content h4 {
    font-size: clamp(1rem, 1rem + 0.7vw, 2.4rem);
  }
  .warnings-area__content h3 {
    font-size: clamp(2rem, 2rem + 1.2vw, 4rem);
  }
  .warnings-area__illustration {
    height: clamp(8rem, 10rem + 3vw, 16rem);
  }
  .task-list-card__header button {
    padding: 1rem 1.2rem;
  }
}
@media (max-width: 550px) {
  .tasks-area__warnings-area {
    padding: clamp(1.2rem, 1rem + 1vw, 2rem) clamp(2.5rem, 2rem + 2vw, 4rem);
  }
  .warnings-area__illustration {
    display: none;
  }
  .task-list-card__header button {
    padding: 0.8rem 1rem;
  }
  .task-list-card__header button p {
    display: none;
  }
  .dashboard__plans-card {
    margin-bottom: 7rem;
  }
}

/*# sourceMappingURL=dashboard.css.map */
