@use '../../../utils/' as *;

.goal {
   width: 100%;
   border-right: .6rem solid $purplishBlue900;
   border-radius: .6rem;
   padding: 1.5rem;
   @include flex(space-between, center);
   gap: 2rem;
}

.goal:nth-child(1) {
   margin-top: 3rem;
}

.goal__content-area {
   @include flex(flex-start, center);
   gap: 1.2rem;
   flex-grow: 1;

   p {
      font-size: clamp(.9rem, .62rem + .62vw , 1.25rem);
      font-weight: 600;
      color: var(--alt_title);
   }

   button {
      cursor: pointer;
      width: clamp(1.7rem, 1rem + 1vw , 1.9rem);
      height: clamp(1.7rem, 1rem + 1vw , 1.9rem);
      background-color: transparent;
      flex-shrink: 0;

      img {
         width: 100%;
         height: 100%;
      }
   }
}

.goal__content-area__edit-input {
   background-color: transparent;
   outline: none;
   width: 100%;
   font-size: clamp(.9rem, .62rem + .62vw , 1.25rem);
}

.goal__actions-area {
   @include flex(flex-start, center);
   gap: 1.4rem;
   flex-shrink: 0;

   button {
      background-color: transparent;
   }

   .actions-area__icon {
      height: clamp(1.4rem, .8rem + .8vw, 1.6rem);
   }
}

.goal--dashboard {
   border: none;
   padding: 0;
}