@use '../../../utils/' as *;

.task-item {
   border-right: .6rem solid var(--details_color_two);
   border-radius: .6rem;
   background-color: var(--items_bg);
   padding: 1.2rem;
   gap: 2.4rem;

   @include flex(center, center);
}

.task-item__content-area {
   @include flex(flex-start, center);
   flex-grow: 1;
   gap: 1.4rem;

   p {
      font-size: clamp(.9rem, .65rem + .65vw, 1.3rem);
      font-weight: 600;
      word-break: break-all;
      color: var(--font_color);
   }

   button {
      width: 2.4rem;
      height: 2.4rem;
      background-color: transparent;
      flex-shrink: 0;

      .content-area__check-icon {
         cursor: pointer;
         width: clamp(2rem, 1.6rem + .4vw, 2.4rem);
         height: clamp(2rem, 1.6rem + .4vw, 2.4rem);
      }
   }
}

.content-area__edit-input {
   background-color: transparent;
   outline: none;
   width: 100%;
   font-size: clamp(.9rem, .65rem + .65vw, 1.3rem);
   color: var(--font_color);
}

.task-item__actions-area {
   display: flex;
   align-items: center;
   gap: 1.6rem;

   button {
      background-color: transparent;
      aspect-ratio: 1 / 1;
      width: 1.8rem;
   }
}

.actions-area__icon {
   cursor: pointer;
   width: 100%;
   height: 100%;
}

@include SmallScreensDown {
   .task-item__actions-area {
      gap: calc(.4rem + 1.2vw);

      button {
         width: clamp(1.4rem, .8rem + .4vw, 1.8rem);
      }
   }
}